/* zweigraf.github.io
 * 
 * colors derived from 
 * https://coolors.co/app/eeeeee-4f6367-50aec9-50514f-247ba0
 *  text: #353535
 *  background: #4F6367
 *  links, logo: #50AEC9
 * 
 * */
body { 
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    font-weight: 200;
    color: #eee;
    padding:0 10px;
    background-color: #4F6367;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}
h1, h2, h3 { 
    line-height:1.2;
    font-weight: 400;
    font-size: larger;
}
header {
    text-align: center;
    line-height: 2;
}
nav {
    text-align: center;
}
img {
    max-width: 100%;
}
a {
    color: #50AEC9;
    font-weight: 400;
    text-decoration: none;
}
hr {
    border: 0;
    border-bottom: 1px solid #eee;
}
ul {
    list-style-type: none;
}
li:before {
/* following hex code stands for '&ndash;&nbsp;'
 * see also http://stackoverflow.com/questions/190396/adding-html-entities-using-css-content?rq=1
 * */
    content: "\2013\0000a0";
}